*{
    margin: 0;
    padding: 0;
}


.Header{
    padding: 20px 70px;
    background-color: #A8AAFA;
    display: flex;
    justify-content: space-between;
}

.Footer{
    display: flex;
    text-align: center;
    background-color: #484848;
    
}

.Buttons{
    display: flex;
    padding: 10px 30px;
    gap: 10px;
}

.Buttons button{
    color: #A8AAFA;
    background-color: #484848;
}

.Sobre{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #9574DE;
    width: 300px;
    height: 120px;
    border-radius: 20px;
}
